body {
  background-color: #323232;
}
.main-conteiner {
  display: flex;
  flex-direction: column;

  .top-side {
    display: flex;

    .top-nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #323232;
      border-bottom: 1px solid gray;

      .top-youtubelogo {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .fa-bars {
          font-size: 15px;
          color: white;
        }

        .youlogo {
          display: flex;
          justify-content: center;

          align-items: center;
          position: relative;
          margin-left: 20px;
          color: red;
          font-size: 20px;

          .fa-youtube {
            display: flex;
            align-items: center;
          }

          .pyou {
            color: white;
            font-size: 17px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }

          .GE {
            align-items: center;
            font-size: 10px;
            position: absolute;
            margin-top: 0px;
            margin-left: 100px;
            color: #aaa;
          }
        }
      }

      .search-function {
        display: flex;
        align-items: center;
        justify-content: center;

        .input1 {
          width: 400px;
          height: 25px;
        }

        .btn1 {
          color: white;
          background-color: #5c5a5a;
          align-items: center;
          height: 35px;
          width: 50px;
          .fa-magnifying-glass {
            font-size: 15px;
          }
        }

        .btn2 {
          align-items: center;
          background-color: black;
          color: white;
          width: 35px;
          height: 35px;
          border-radius: 50px;
          margin-left: 10px;

          .fa-microphone {
            font-size: 15px;
          }
        }
      }

      .notification {
        display: flex;
        align-items: center;
        width: 10%;

        justify-content: space-between;

        .fa-folder-plus {
          font-size: 17px;
          color: white;
        }

        .fa-braille {
          font-size: 17px;
          color: white;
        }

        .fa-bell {
          font-size: 17px;
          color: white;
        }

        .gmail {
          width: 28px;
          height: 28px;
          border-radius: 50px;
        }
      }
    }
  }

  .bottom-side {
    display: flex;

    .left-side {
      display: flex;
      flex-direction: column;

      width: 12%;
      background-color: #323232;
      .home {
        border-bottom: 1px solid gray;
        .list {
          list-style-type: none;
          padding: 0px;

          .n11 {
            background-color: rgb(92, 90, 90);
            display: flex;
            align-items: center;
            color: white;

            .pn1 {
              align-items: center;
              margin-left: 22px;
            }
          }

          .n1 {
            display: flex;
            align-items: center;
            color: white;

            .pn1 {
              align-items: center;
              margin-left: 22px;
            }
          }
        }
      }

      .subscriptions {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        border-bottom: 1px solid gray;

        h5 {
          color: gray;
          margin: 0px;
        }

        .list2 {
          list-style-type: none;
          padding: 0px;

          .n2 {
            display: flex;
            align-items: center;
            color: white;
            margin: 0px;

            .img2 {
              width: 20px;
              height: 20px;
              border-radius: 50px;
            }
          }

          .pn2 {
            font-size: 14px;
            margin-left: 22px;
          }
        }
      }

      .text {
        .lasttext {
          color: gray;
          font-size: 13px;
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      width: 100%;

      .meniu {
        display: flex;

        width: 100%;
        background-color: #323232;

        .meniu-list {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          align-items: center;
          justify-content: space-between;

          .btn-meniu1 {
            background-color: white;
            display: flex;
            border-radius: 80px;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            width: 50px;
            height: 30px;
          }

          .btn-meniu {
            border-radius: 50px;
            height: 35px;

            align-items: center;
            background-color: #5c5a5a;
            justify-content: center;
            .li-meniu {
              list-style-type: none;
              align-items: center;

              justify-content: center;
            }

            .pmeniu {
              align-items: center;
              height: 5px;
              justify-content: center;
              color: white;
              margin: 0px;
            }
          }
        }
      }
      .backround {
        background-color: black;
        .videos-part {
          display: flex;
          flex-direction: column;
          margin-left: 100px;
          align-items: center;
          margin-top: 15px;

          .videos {
            display: flex;
            align-items: center;
            justify-content: center;

            .video1 {
              display: flex;
              flex-direction: column;

              padding: 5px;

              justify-content: center;

              .img-1 {
                width: 350px;
                height: 200px;
              }

              .img-2 {
                height: 40px;
                width: 40px;
                border-radius: 50px;
              }

              .pp {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
